#father{
    border: 5px solid violet;
    padding: 5px;
    width:300px;
    height:300px;
}
a{
    width:100px;
    height:100px;
    text-decoration:none;

    background:pink;
    color: white;
    text-align: center;
    line-height: 100px;
}
#one{
    display:inline-block;
}
#two{
    display:inline-block;
    position: relative;
    top:-100px;
    left:200px;
}
#three{
    display:inline-block;
}
#four{
    display:inline-block;
    position: relative;
    left:200px;
    top:-100px;
}
#five{
    display:inline-block;
    position: relative;
    left:100px;
    top:-300px;
}
a:hover{
    background: skyblue;
}